/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/* 잘난체 */
@font-face {
  font-family: Jalnan;
  src: url('../fonts/poppins/Jalnan.ttf'); 
}

/* 노토 */
@font-face {
  font-family: Noto Sans KR;
  src: url('../fonts/poppins/NotoSansKR-Medium.otf') format('opentype'); 
}

/* 도현체 */
@font-face {
  font-family: 'DoHyeon-regular';
  src: url('../fonts/poppins/DoHyeon-Regular.ttf'); 
}

/* 프리덴다드 */
@font-face {
  font-family: Pretendard-Bold;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Pretendard-Regular;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
    font-family: Pretendard-Regular, sans-serif;
}

body, html {
    height: 100%;
}

/*---------------------------------------------*/
a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
  color: #30475e;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-size: 14px;
  line-height: 1.5;
  color: rgb(43, 48, 59);
}

.txt3 {
  font-size: 26px;
  line-height: 1.5;
  color: #111;
}

.headLine {
  font-size: 32px;
  color: rgb(43, 48, 59);
  font-weight: 600;
}

.headLine2 {
  font-size: 32px;
  font-family: Pretendard-Bold;
  color: rgb(43, 48, 59);
  font-weight: 700;
  font-style: normal;
}

.headLine3 {
  font-size: 20px;
  font-family: Pretendard-Bold;
  color: rgb(43, 48, 59);
  /* font-weight: 100; */
  font-style: normal;
}

.jalnan{
  font-size: 32px;
  color: rgb(43, 48, 59);
  font-weight: 700;
}

.noto{
  font-size: 32px;
  font-family: 'Noto Sans KR';
  color: rgb(43, 48, 59);
  font-weight: 700;
}

.dohyeon{
  font-size: 17px;
  font-family: 'DoHyeon-regular';
  color: rgb(43, 48, 59);
  font-weight: 400;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 0px;
  background: #f5f5f5;
  /* background-image: url('@/assets/space.jpeg'); */
  background-size: cover;
  background-repeat: no-repeat;
  /* background: -webkit-linear-gradient(-135deg, #f05454, #f5f5f5);
  background: -o-linear-gradient(-135deg, #f05454, #f5f5f5);
  background: -moz-linear-gradient(-135deg, #f5f5f5, #f05454);
  background: linear-gradient(-135deg, #f05454, #f5f5f5); */
  margin: 0 auto;
  
  /* background: -webkit-linear-gradient(-135deg, #f05454, #f05454);
  background: -o-linear-gradient(-135deg, #f05454, #f05454);
  background: -moz-linear-gradient(-135deg, #f05454, #f05454);
  background: linear-gradient(-135deg, #f05454, #f05454); */
}

.wrap-login100 {
  width: 920px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 33px 33px 33px 33px;
  margin: 15px 40px 15px 40px;

  background-color: rgba( 255, 255, 255, 0.95 )

}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 256px;
  margin-bottom: 15px;
}

.login100-pic img {
  max-width: 100%;
}

.logo {
  width: 300px;
  margin-bottom: 15px;
}

.logo2 {
  width: 75%;
  margin-bottom: 15px;
}



/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 290px;
}

.login100-form-title {
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}

.inputNew {
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #abe1f0;
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #30475e;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #30475e;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #abe1f0;
  /* border-color: black */
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1038px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }

  .login100-pic {
    display: none;
  }
}

/* @media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 50%;
  }

  .logo {
    width: 80%;
  }
} */

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }

  /* .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }

  .logo {
    width: 80%;
  } */
}

@media (max-width: 576px) {
  /* .wrap-login100 {
    padding: 100px 15px 33px 15px;
  } */

  .login100-pic {
    display: none;
  }

  /* .login100-form {
    width: 100%;
  }

  .logo {
    width: 80%;
  } */
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* 추가 게시판 부분 */

.board-wrap .line-set.txt-wsp .title,.txt-wsp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.board-wrap .default-tbl td.link a:hover,.board-wrap .line-set a.title:hover {
  text-decoration: underline
}

button {
  outline: 0
}

.grey-box-desc {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  background: #fafbfc;
  font-size: 14px;
  line-height: 18px;
  color: #6c8093;
  min-height: 112px;
  margin-bottom: 30px
}

.grey-box-desc .column {
  display: table-cell;
  vertical-align: middle;
  padding: 20px 20px 20px 0
}

.grey-box-desc .column:first-child {
  width: 172px;
  padding: 0 0 0 60px
}

.grey-box-desc .column .desc-tit {
  display: block;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 4px
}

.grey-box-desc .column>p {
  font-size: 15px;
  line-height: 18px;
  color: #6c8093;
  font-weight: 200;
  -ms-word-break: keep-all;
  word-break: keep-all
}

.grey-box-desc .column .icon {
  width: 72px;
  height: 72px
}

.grey-box-desc .column .policy {
  background-color: #cce5fe;
  color: #07539c;
  font-size: 13px;
  border-radius: 75px;
  padding: 5px 0 5px 15px;
  margin-top: 8px
}

.grey-box-desc .column .policy span {
  background-color: #0c65bc;
  color: #fff;
  font-size: 13px;
  border-radius: 75px;
  padding: 5px 15px;
  margin-left: 10px
}

.list-util .list-filter li a::after,.list-util::after {
  bottom: 0;
  width: 100%;
  content: '';
  left: 0
}

.list-util {
  position: relative;
  min-height: 40px;
  font-size: 0;
  margin-bottom: 40px
}

.list-util::after {
  position: absolute;
  height: 1px;
  background: #e3e7eb
}

.list-util .count {
  line-height: 40px
}

.list-util .list-filter {
  display: inline-block;
  font-size: 0;
  height: 60px
}

.list-util .list-filter li {
  position: relative;
  float: left;
  min-width: 113px
}

.list-util .list-filter::after {
  content: '';
  clear: both;
  display: block
}

.list-util .list-filter li a {
  position: relative;
  display: block;
  padding: 0 9px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  background: #fff;
  color: #4f5a66;
  -webkit-transition: all .2s linear;
  transition: all .2s linear
}

.list-util .list-filter li a::after {
  position: absolute;
  height: 1px;
  background: #ddd
}

.list-util .list-filter li.is-active a {
  border-bottom: 2px solid #007aff
}

.list-util .list-filter li.is-active a span {
  color: #007aff;
  font-weight: 500
}

.list-util .list-filter li.is-active a::after {
  height: 2px;
  background: #3c90e2
}

@media screen and (max-width: 1024px) {
  .list-util .select.hidden-select.w2+.select2 {
      width:calc(100% - 80px)!important
  }

  .btn-md.w2-mo {
      min-width: 73px
  }
}

.list-util .select.hidden-select {
  visibility: hidden;
  opacity: 0
}

.list-util .select.hidden-select+.select2 {
  display: none;
  visibility: hidden;
  opacity: 0;
  min-width: 180px
}

.list-control {
  margin-top: 40px
}

.list-control+.board-wrap {
  margin-top: 20px
}

.board-wrap .status {
  position: relative;
  margin-top: 4px;
  font-size: 0;
  color: #aaa
}

.board-wrap .line-set.align-left+.status.float-base {
  margin-top: 0
}

.board-wrap .status.float-base {
  margin-top: 15px
}

.board-wrap .status .column {
  display: inline-block;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  vertical-align: top;
  color: #777f88
}

.board-wrap .status .status-info {
  font-size: 12px;
  height: 36px;
  line-height: 36px
}

.board-wrap .status .status-info em {
  margin-left: 5px
}

.board-wrap .status .status-info span {
  position: relative
}

.board-wrap .status .status-info>span+span {
  margin-left: 5px;
  padding-left: 6px
}

.board-wrap .status .status-info>span+span::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background: #ddd
}

.board-wrap .status .status-info .answer {
  position: relative;
  top: -2px;
  font-size: 16px;
  font-weight: 500;
  color: #4f5a66
}

.board-wrap .status .status-info .answer strong {
  padding: 0 0 0 25px;
  color: #3395f4
}

.board-wrap .status .user-info .img {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  border-radius: 50%;
  /* background: url(/asset/images/temp/temp-profile0.png) no-repeat; */
  background-size: contain
}

.board-wrap .status .user-info .img .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden
}

.board-wrap .status .user-info .name {
  display: inline-block;
  vertical-align: top;
  line-height: 36px
}

.board-wrap .status .date {
  position: relative;
  margin-left: 10px;
  padding-left: 11px
}

.board-wrap .status .date::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background: #ddd
}

.board-wrap.alim-wrap .status .column {
  height: 38px;
  line-height: 38px
}

.board-wrap.alim-wrap .status .user-info .name {
  line-height: 38px
}

.board-wrap.alim-wrap .status .user-info .img {
  width: 38px;
  height: 38px
}

.board-wrap.alim-wrap .status .user-info .img .mask {
  width: 38px;
  height: 38px;
  border-radius: 38px
}

.board-wrap .list-view {
  border-top: 1px solid #e3e7eb
}

.board-wrap .list-view>li {
  position: relative;
  padding: 16px 10px 20px 160px;
  border-bottom: 1px solid #e3e7eb;
  font-size: 0
}

.board-wrap .list-view>li.full-width {
  padding-left: 20px
}

.board-wrap .list-view>li.blank-type {
  padding: 18px 20px;
  font-size: 14px
}

.board-wrap .list-view>li .line-set.align-left {
  left: 20px;
  line-height: 20px;
  margin: 0
}

.board-wrap .list-view>li .list-del-btn {
  position: absolute;
  top: 20px;
  right: 10px;
  vertical-align: middle;
  margin-left: 5px
}

.board-wrap .list-view>li .list-del-btn .icon {
  width: 24px;
  height: 24px
}

.board-wrap .list-view>li.blank-type em {
  color: #3c90e2
}

.board-wrap .line-set {
  font-size: 0
}

.board-wrap .line-set .text-group {
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  color: #3c90e2
}

.board-wrap .line-set .title {
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  vertical-align: middle
}

.board-wrap .line-set.txt-wsp {
  padding-right: 259px
}

.board-wrap .line-set.txt-wsp .title {
  max-width: calc(100% - 130px);
  color: #4f5a66;
  word-break: break-all
}

.board-wrap .line-set.txt-wsp .lock_m {
  padding-left: 25px;
  height: 22px;
  /* background: url(/asset/images/icons/icon_lock.png) no-repeat; */
  background-position: 0 0
}

.board-wrap .line-set.txt-wsp .lock_open_m {
  padding-left: 25px;
  height: 22px;
  /* background: url(/asset/images/icons/icon_lock.png) 0 0 no-repeat; */
  background-position: 0 -24px
}

.board-wrap .line-set.txt-wsp .lock_p {
  padding-left: 25px;
  height: 22px;
  /* background: url(/asset/images/icons/icon_lock.png) 0 0 no-repeat; */
  background-position: 0 -45px
}

.board-wrap .line-set.txt-wsp .lock_open_p {
  padding-left: 25px;
  height: 22px;
  /* background: url(/asset/images/icons/icon_lock.png) 0 0 no-repeat; */
  background-position: 0 -70px
}

.board-wrap .line-set.txt-wsp .title_sub {
  color: #3c90e2;
  font-weight: 500
}

.icon-closed {
  display: inline-block;
  margin-right: 10px;
  padding: 0 15px;
  color: #fff;
  line-height: 26px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 15px;
  background: #3c90e2;
  vertical-align: top
}

.board-wrap .line-set .in-files {
  display: inline-block;
  height: 18px;
  color: #a3abb3;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle
}

.board-wrap .line-set .title+.in-files {
  margin-left: 10px
}

.board-wrap .line-set .in-files .icon {
  margin-right: 6px;
  width: 14px;
  height: 18px
}

.board-wrap .line-set .in-files>* {
  vertical-align: top
}

.board-wrap .line-set .reply-count {
  display: inline-block;
  margin-right: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  margin-left: 2px
}

.answer-num {
  position: absolute;
  top: -10px;
  right: 40px;
  line-height: 0;
  font-size: 0
}

.answer-num>* {
  display: inline-block;
  color: #4f5a66;
  line-height: 20px;
  font-size: 16px;
  vertical-align: top
}

.answer-num>dd {
  margin-left: 20px;
  color: #3c90e2
}

.txt-wsp {
  word-break: break-all
}

.board-wrap .line-set .new {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 500;
  margin-left: 6px
}

.board-wrap .line-set .new .icon {
  width: 20px;
  height: 20px
}

.board-wrap .badge {
  display: inline-block;
  text-align: center
}

.board-wrap .badge.type1 {
  background: #3c90e2;
  font-size: 12px;
  color: #fff;
  width: 50px;
  height: 22px;
  line-height: 22px;
  border-radius: 3px
}

.board-wrap .badge.type2 {
  border-radius: 20px;
  font-size: 12px;
  width: 64px;
  height: 25px;
  line-height: 25px;
  padding: 0;
  background: #e3e7eb;
  color: #8f99a2
}

.board-wrap .badge.completed {
  background: #3c90e2;
  color: #fff
}

.board-wrap .detail-head {
  position: relative;
  border-top: 1px solid #24282b;
  border-bottom: 1px solid #e3e7eb;
  padding: 16px 20px 20px
}

.board-wrap .detail-head .date {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: Roboto;
  color: #777f88;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400
}

.board-wrap .detail-head .text-group,.board-wrap .detail-head .title {
  font-size: 20px;
  line-height: 1.4
}

.board-wrap .detail-head .line-set {
  margin: 0;
  color: #24282b
}

.board-wrap .detail-head .new {
  margin: 0 0 0 6px
}

.board-wrap .detail-head *+.title {
  max-width: 830px;
  margin-left: 14px;
  vertical-align: top
}

.board-wrap .detail-head .manager {
  font-size: 14px;
  line-height: 24px;
  color: #777f88
}

.board-wrap .detail-head .badge {
  margin-right: 20px;
  vertical-align: -5px
}

.board-wrap .detail-head .mark {
  display: inline-block;
  width: 25px;
  text-align: center;
  height: 25px;
  border-radius: 50%;
  line-height: 25px;
  background: #e3e7eb;
  font-size: 16px;
  font-weight: 500;
  color: #4f5a66;
  vertical-align: -5px;
  margin-right: 10px
}

.board-wrap .detail-head .date.type2 {
  font-size: 14px;
  color: #777f88;
  margin: 0;
  padding: 0
}

.board-wrap .detail-head .date.type2::after {
  display: none
}

.board-wrap .detail-head .line-set.completed .text-group,.board-wrap .detail-head .line-set.completed .title {
  color: #3c90e2
}

.board-wrap .detail-head .line-set.completed .badge {
  background: #3c90e2;
  color: #fff
}

.board-wrap .detail-head.position-base {
  padding: 20px 130px 20px 20px
}

.board-wrap .detail-head.position-base .align-right {
  position: absolute;
  right: 20px;
  top: 20px;
  margin-top: 15px
}

.board-wrap .detail-head.position-base .align-right .date {
  position: static
}

.board-wrap .datail-content {
  padding: 26px 40px;
  font-size: 14px;
  line-height: 20px;
  color: #4f5a66;
  border-bottom: 1px solid #e3e7eb;
  word-break: break-all
}

.board-wrap .datail-content.ty02 {
  padding-left: 139px
}

.board-wrap .datail-content strong {
  font-weight: 700
}

.board-wrap .detail-util {
  margin-top: 20px;
  font-size: 0
}

.board-wrap .detail-util.mt {
  margin-top: 40px
}

.board-wrap .detail-util .column {
  display: inline-block
}

.board-wrap .detail-util .dibs-btn.is-active,.board-wrap .detail-util .like-btn.is-active {
  border-color: #3c90e2;
  color: #3c90e2
}

.board-wrap .detail-util+.tit-area {
  margin-bottom: 18px;
  margin-top: 40px
}

.board-wrap .detail-util .btn {
  padding: 0;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 14px
}

.board-wrap .detail-util .btn.btn-md {
  width: 134px;
  height: 45px
}

.board-wrap .detail-util .btn:last-child {
  margin-right: 0
}

.board-btn-area {
  line-height: 0;
  font-size: 0
}

.board-btn-area>.btn+.btn {
  margin-left: 10px
}

.board-btn-area>.btn {
  min-width: 100px
}

.board-btn-area+* {
  margin-top: 37px
}

.board-wrap .detail-manager-a {
  background: #f9fafb
}

.board-wrap .detail-manager-a .inner {
  position: relative;
  padding: 20px 20px 20px 139px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 200;
  color: #4f5a66
}

.board-wrap .detail-manager-a .inner::before {
  content: 'A';
  position: absolute;
  top: 20px;
  left: 104px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: #4f5a66;
  color: #fff;
  font-weight: 500;
  text-align: center;
  border-radius: 50%
}

.board-wrap .detail-manager-a .inner .date {
  position: absolute;
  bottom: 27px;
  right: 20px;
  color: #777f88;
  line-height: 18px;
  font-size: 14px
}

.board-wrap .upload-inline-list {
  position: relative;
  border-bottom: 1px solid #e3e7eb;
  padding: 20px 114px 10px;
  background: #fafbfc
}

.board-wrap .upload-inline-list .file-info button.btn {
  height: 24px;
  line-height: 24px;
  margin-left: 10px;
  padding: 0 20px;
  font-size: 12px
}

.board-wrap .upload-inline-list .file-info .in-files {
  margin: 0
}

.board-wrap .upload-inline-list .files {
  position: relative;
  top: -5px;
  left: -5px
}

.board-wrap .upload-inline-list .files li {
  display: inline-block;
  margin: 5px
}

.board-wrap .upload-inline-list .files li a {
  display: block;
  word-break: break-all;
  font-size: 12px;
  color: #777f88;
  line-height: 16px;
  height: 16px
}

.board-wrap .upload-inline-list .files li a:hover {
  text-decoration: underline;
  color: #007aff
}

.board-wrap .upload-inline-list .files li a:hover .detail-in-file {
  /* background: url(/asset/images/icons/icon-detail-in-file-hover.png) */
}

.board-wrap .upload-inline-list .files li em {
  margin-right: 10px
}

.board-wrap .upload-inline-list>.align-right {
  top: 10px;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  right: 20px
}

.board-wrap .upload-inline-list .detail-in-file {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  vertical-align: top
}

.board-wrap .file-t {
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  top: 20px;
  left: 20px;
  color: #4f5a66;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}

.board-wrap .file-t em {
  margin-left: 4px
}

.board-wrap .upload-block-list .files {
  min-height: 34px;
  padding: 8px 11px;
  border: 1px solid #e3e7eb
}

.board-wrap .upload-block-list .files li {
  display: block;
  font-size: 12px;
  color: #4f5a66;
  line-height: 24px
}

.board-wrap .upload-block-list .files li .file-del-btn {
  display: inline-block;
  border: 1px solid #e3e7eb;
  width: 16px;
  height: 16px;
  line-height: 16px;
  padding: 0;
  margin-left: 16px;
  -webkit-transition: border-color .3s;
  transition: border-color .3s
}

.board-wrap .upload-block-list .files li .file-del-btn:hover {
  border-color: #94979a
}

.board-wrap .upload-block-list .files li .file-del-btn .icon {
  margin-top: 4px;
  width: 6px;
  height: 6px;
  vertical-align: top
}

.upload-block-list .files .nodata {
  color: #bfc7ce
}

.board-wrap .upload-block-list .row-line {
  position: relative;
  margin-top: 12px;
  font-size: 0;
  line-height: 1
}

.board-wrap .upload-block-list .row-line .column {
  display: inline-block;
  height: 34px;
  vertical-align: top
}

.board-wrap .upload-block-list .row-line .column:first-child {
  margin-right: 10px
}

.board-wrap .upload-block-list .row-line .column>.btn {
  vertical-align: top
}

.board-wrap .upload-block-list .row-line .column .position-base {
  position: static
}

.board-wrap .reply-write-area {
  padding: 20px;
  background: #fafbfc;
  border: 1px solid #e3e7eb
}

.board-wrap .reply-write-area .hidden-notice {
  font-size: 12px;
  color: #6c8093;
  line-height: 16px
}

.board-wrap .rw-inner .form-util,.board-wrap .rw-inner .textarea {
  margin-bottom: 12px
}

.board-wrap .reply-list-area {
  margin-top: 40px;
  border-top: 1px solid #e3e7eb
}

.board-wrap .reply-list-area>ul>li {
  padding: 20px;
  border-bottom: 1px solid #e3e7eb
}

.board-wrap .reply-list-area .status {
  margin-top: 0
}

.board-wrap .reply-list-area .status .date {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0;
  padding-left: 11px;
  height: 36px;
  line-height: 36px
}

.board-wrap .reply-list-area .status .date::after {
  display: block
}

.board-wrap .reply-list-area .reply-content {
  padding-left: 46px;
  font-size: 14px;
  color: #4f5a66;
  line-height: 20px;
  font-weight: 200
}

.board-wrap .reply-list-area .reply-select-btn {
  visibility: hidden
}

.board-wrap .reply-list-area .is-visible {
  visibility: visible
}

.board-wrap .reply-list-area .column {
  position: relative
}

.board-wrap .reply-list-area .column.reply-select-area {
  position: relative;
  text-align: right;
  font-size: 0
}

.board-wrap .reply-list-area .column.reply-select-area .icon {
  display: none;
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  right: 0
}

.board-wrap .reply-list-area .column.reply-del-area a,.board-wrap .reply-list-area .column.reply-select-area .is-show {
  display: block
}

.board-wrap .reply-list-area .column.reply-del-area .icon {
  width: 24px;
  height: 24px
}

.board-wrap .reply-list-area .column.reply-mod-area {
  padding-right: 6px
}

.board-wrap .reply-list-area .column.reply-mod-area a {
  display: block
}

.board-wrap .reply-list-area .column.reply-mod-area .icon {
  width: 24px;
  height: 24px
}

.board-wrap .reply-list-area .column.re-btn {
  margin-left: 10px;
  color: #394047
}

.board-wrap .reply-list-area .column.re-btn a {
  display: inline-block;
  padding: 0 0 0 13px;
  /* background: url(/asset/images/icons/arrow-re-reply-btn.png) 0 13px no-repeat; */
  vertical-align: top
}

@media screen and (max-width: 1024px) {
  .board-wrap .reply-list-area .column.re-btn {
      margin-top:20px;
      font-size: 12px;
      line-height: 1
  }

  .board-wrap .reply-list-area .column.re-btn a {
      /* background: url(/asset/images/icons/arrow-re-reply-btn-mo.png) 0 1px no-repeat; */
      background-size: 11px auto
  }
}

.board-wrap .reply-list-area .upload-inline-list {
  background: #fff;
  border: 0;
  padding: 12px 10px 0 88px
}

.board-wrap .reply-list-area .upload-inline-list .file-t {
  top: 12px;
  left: 0
}

.board-wrap .reply-list-area>ul>li.re-reply {
  margin: -1px 0 0;
  padding-left: 65px;
  border-top: 1px dashed #e3e7eb;
  /* background: url(/asset/images/icons/arrow-re-reply.png) 35px 21px no-repeat #fff */
}

.board-wrap .reply-list-area>ul>li .reply-write-area {
  margin: 20px 0 0;
  padding: 0;
  border: 0;
  background: 0 0
}

@media screen and (max-width: 1024px) {
  .board-wrap .reply-list-area>ul>li.re-reply {
      padding-left:50px;
      /* background: url(/asset/images/icons/arrow-re-reply-mo.png) 20px 20px no-repeat #fff; */
      background-size: 20px auto
  }
}

.board-wrap .more-btn {
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e3e7eb
}

.board-wrap .more-btn .more-plus {
  width: 10px;
  height: 10px;
  margin-left: 5px
}

.board-wrap+.pagination,.tab-container+.pagination {
  margin: 60px 0 0
}

.board-wrap+.pagination>.btn,.tab-container+.pagination>.btn {
  display: none;
  height: 40px;
  line-height: 40px
}

.board-wrap .row-table-type {
  display: table;
  width: 100%;
  border-top: 1px solid #6c8093
}

.board-wrap .row-table-type .t-row {
  display: table-row
}

.board-wrap .row-table-type .t-col {
  display: table-cell;
  vertical-align: middle;
  padding: 12px 0 12px 20px;
  width: calc(100% - 150px);
  border-bottom: 1px solid #e3e7eb
}

.board-wrap .row-table-type .t-col>.label {
  font-size: 14px;
  font-weight: 500;
  color: #4f5a66
}

.board-wrap .row-table-type .t-col:first-child {
  width: 150px;
  padding: 12px 0
}

.board-wrap .row-table-type .t-col+.t-col {
  border-left: 1px solid #e3e7eb
}

.board-wrap .row-table-type .t-col .filter-select {
  width: 450px
}

.board-wrap .row-table-type+.line-desc {
  margin-top: 6px
}

.board-wrap .row-table-type .in-data {
  padding: 12px 0
}

.board-wrap.table-col {
  position: relative;
  margin-top: 80px
}

.board-wrap.table-col .line-set {
  table-layout: fixed;
  width: 100%;
  text-align: left
}

.board-wrap.table-col table {
  border-top: 1px solid #e3e7eb
}

.board-wrap.table-col table td {
  border-bottom: 1px solid #e3e7eb;
  padding: 14px 5px
}

.board-wrap.board-list-link .line-set {
  margin: 0
}

.board-wrap.board-list-link .line-set .new {
  margin-left: 8px
}

.board-wrap.board-list-link table td {
  padding: 19px 20px
}

.board-wrap.board-list-link table td:nth-child(2) {
  padding-left: 45px;
  padding-right: 0
}

.board-wrap.board-list-link table td .txt-nd {
  color: #777f88;
  line-height: 18px;
  font-size: 14px
}

.board-wrap .default-tbl {
  border-top: 1px solid #24282b
}

.board-wrap .default-tbl td,.board-wrap .default-tbl th {
  padding: 20px 5px;
  border-bottom: 1px solid #e3e7eb;
  font-size: 0
}

.board-wrap .default-tbl td span,.board-wrap .default-tbl th span {
  font-size: 14px;
  line-height: 20px
}

.board-wrap .default-tbl th {
  padding: 20px 0;
  background: #fafbfc;
  color: #4f5a66
}

.board-wrap .default-tbl td {
  color: #4f5a66;
  vertical-align: middle
}

.board-wrap .default-tbl td.num,.board-wrap .default-tbl th.num {
  width: 140px;
  padding: 16px 5px
}

.board-wrap .default-tbl td.date,.board-wrap .default-tbl th.date {
  width: 169px
}

.board-wrap .default-tbl td.num.type2,.board-wrap .default-tbl th.num.type2 {
  padding: 18px 5px
}

.board-wrap .default-tbl td.date span {
  color: #777f88
}

.board-wrap .default-tbl td.link {
  padding: 20px 0
}

.board-wrap .default-tbl td.link a {
  display: inline;
  line-height: 20px;
  font-size: 15px;
  vertical-align: middle
}

.board-wrap .default-tbl td.link>* {
  margin-right: 20px
}

.board-wrap .default-tbl td.link>:last-child {
  margin: 0
}

.board-wrap .default-tbl td.link.notice a {
  color: #3c90e2;
  font-weight: 500
}

.board-wrap .default-tbl td.link .in-files {
  display: inline-block;
  height: 20px;
  vertical-align: top
}

.board-wrap .default-tbl td.link .in-files>span {
  vertical-align: top;
  color: #a3abb3
}

.board-wrap .default-tbl td.link .in-files .icon {
  width: 14px;
  height: 20px;
  margin-right: 5px
}

.board-wrap .default-tbl td.blank-td {
  padding: 55px 0
}

.board-wrap .default-tbl.type2 {
  border-top: 0
}

.board-btn-wrap {
  margin-top: 60px;
  font-size: 0
}

.board-btn-wrap .column {
  display: inline-block
}

.board-btn-wrap .column.n1 {
  width: 100%
}

.board-btn-wrap .column.n2 {
  width: 50%
}

.board-btn-wrap .column.n2>div {
  padding-right: 5px;
  text-align: right
}

.board-btn-wrap .column.n2:nth-child(2n) div {
  padding-left: 5px;
  padding-right: 0;
  text-align: left
}

.board-mento-btn-wrap {
  font-size: 0
}

.board-mento-btn-wrap .column {
  display: inline-block
}

.board-mento-btn-wrap .column.n2 > div {
  padding-right: 5px;
  text-align: right
}

.board-mento-btn-wrap .column.n2:nth-child(2n) div {
  padding-left: 5px;
  padding-right: 0;
  text-align: left
}

.top-page-btn-wrap {
  margin-bottom: 20px
}

.top-page-btn-wrap .btn {
  font-size: 12px;
  font-weight: 300
}

.top-page-btn-wrap .btn .icon {
  width: 10px;
  height: 6px;
  margin-right: 7px;
  vertical-align: 2px
}

.board-wrap .accordian-list,.bottom-page-btn-wrap .column .btn {
  width: 100%
}

.top-page-btn-wrap .btn+.btn {
  margin-left: 12px
}

.top-page-btn-wrap.deactive .btn {
  color: #aeb7c2;
  border-color: #e3e7eb
}

.top-page-btn-wrap.deactive .icon.btn-arrow-up {
  /* background: url(/asset/images/icons/icon-dbtn-arrow-up.png) center center no-repeat */
}

.top-page-btn-wrap.deactive .icon.btn-arrow-down {
  /* background: url(/asset/images/icons/icon-dbtn-arrow-down.png) center center no-repeat */
}

.board-wrap .accordian-list>tbody>tr>td,.board-wrap .accordian-list>tbody>tr>th {
  border-bottom: 1px solid #e3e7eb
}

.board-wrap .accordian-list>tbody>tr>th {
  padding: 18px 20px
}

.board-wrap .accordian-list>tbody>tr>td.btn-area {
  padding: 0 20px 0 0;
  text-align: right
}

.board-wrap .accordian-list>tbody>tr>td.btn-area button {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  color: #4f5a66
}

.board-wrap .accordian-list>tbody>tr>td.btn-area .icon {
  margin-left: 14px;
  vertical-align: 1px;
  width: 12px;
  height: 7px;
  display: none
}

.board-wrap .accordian-list>tbody>.reply>td {
  border: 0
}

.board-wrap .accordian-list .on .accordian-arrow-down {
  /* background: url(/asset/images/icons/icon-accordian-arrow-up.png) center center no-repeat; */
  background-size: contain
}

.board-wrap .accordian-list .reply-field {
  display: none;
  text-align: left;
  padding: 28px 40px;
  border: 1px solid #e3e7eb;
  border-top: 0 none
}

.board-wrap .accordian-list.no-script td.btn-area button {
  cursor: default;
  outline: 0!important
}

.board-wrap .accordian-list.no-script .reply-field {
  display: block;
  height: 244px;
  overflow-y: auto
}

.board-wrap .accordian-list.no-script .reply-field.last {
  height: 114px
}

.board-wrap.faq-type .accordian-list {
  border-top: 1px solid #24282b
}

.board-wrap.faq-type .accordian-list .faq-title {
  position: relative;
  display: block;
  line-height: 20px;
  font-size: 15px;
  font-weight: 300;
  color: #4f5a66;
  padding: 20px 0 20px 75px
}

.board-wrap.faq-type .accordian-list .faq-title::before {
  content: 'Q';
  position: absolute;
  top: 12px;
  left: 20px;
  width: 36px;
  background: #e3e7eb;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  border-radius: 50%
}

.board-wrap.faq-type .accordian-list th {
  padding: 0
}

.board-wrap.faq-type .accordian-list .on .faq-title {
  font-weight: 500;
  color: #3c90e2
}

.board-wrap.faq-type .accordian-list .on .faq-title::before {
  background: #3c90e2;
  color: #fff
}

.board-wrap.faq-type .accordian-list .reply-field {
  padding: 20px
}

.board-wrap.faq-type .accordian-list .faq-desc {
  position: relative;
  padding-left: 55px;
  font-size: 14px;
  line-height: 20px;
  color: #777f88
}

.board-wrap.faq-type .accordian-list .faq-desc::before {
  content: 'A';
  position: absolute;
  top: -8px;
  left: 0;
  width: 36px;
  color: #fff;
  background: #4f5a66;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  border-radius: 50%
}

.board-wrap.faq-type .accordian-list .faq-desc * {
  font-family: 'Noto Sans',Roboto,'맑은 고딕','Malgun Gothic','돋움',dotum,"open sans","Helvetica Neue",Helvetica,Arial,sans-serif!important;
  font-size: 14px!important;
  line-height: 20px!important;
  color: #777f88!important;
  letter-spacing: inherit!important;
  background-color: transparent!important;
  text-decoration: none!important
}

.board-wrap.faq-type .accordian-list .desc-util {
  font-size: 0;
  line-height: 1
}

.board-wrap.faq-type .accordian-list .desc-util>span {
  font-size: 14px;
  line-height: 34px;
  color: #a3abb3
}

.board-wrap.faq-type .accordian-list .desc-util .btn {
  margin-left: 20px
}

.board-wrap.faq-type .accordian-list td.btn-area {
  width: 62px
}

.board-wrap.faq-type .accordian-list td.btn-area .icon {
  margin: 0
}

.board-wrap.policy-type .accordian-list {
  border-top: 1px solid #e3e7eb
}

.board-wrap.policy-type .accordian-list th {
  font-weight: 300
}

.board-wrap.policy-type .accordian-list th label {
  -ms-word-break: keep-all;
  word-break: keep-all
}

.board-wrap.policy-type .accordian-list .tbl-tac01 th {
  text-align: center;
  border-left: 1px solid #6e7c8c
}

.board-wrap.policy-type .accordian-list .tbl-tac01 th:first-child {
  border-left: 0
}

.board-wrap.comm .list-view>li {
  padding-top: 25px
}

.board-wrap.rule-type .accordian-list .faq-title {
  padding: 22px 0 22px 85px;
  font-size: 18px;
  font-weight: 500;
  color: #4f5a66
}

.board-wrap.rule-type .accordian-list .faq-title::before {
  display: none
}

.board-wrap.rule-type .accordian-list .faq-title span {
  position: absolute;
  left: 36px;
  top: 17px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 1px 0 0;
  border-radius: 100%;
  background-color: #e3e7eb;
  color: #4f5a66;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-family: Roboto;
  line-height: 30px
}

.board-wrap.rule-type .accordian-list .on .faq-title span {
  background-color: #3395f4;
  color: #fff
}

.board-wrap.rule-type .accordian-list>tbody>tr>td.btn-area {
  width: 47px;
  padding-right: 5px
}

.board-wrap.rule-type .accordian-list>tbody>tr>td.btn-area button {
  /* background: url(/asset/images/icons/arrow-rule-list.png) center center no-repeat */
}

.board-wrap.rule-type .accordian-list>tbody>.on>td.btn-area button {
  /* background: url(/asset/images/icons/arrow-rule-list-on.png) center center no-repeat */
}

.board-wrap.rule-type .accordian-list .reply-field {
  padding: 25px 34px 18px 85px;
  border-left: 0;
  border-right: 0
}

.board-wrap.rule-type .accordian-list .faq-desc {
  padding: 0
}

.board-wrap.rule-type .accordian-list .faq-desc::before {
  display: none
}

.board-wrap.rule-type .accordian-list .faq-desc strong {
  font-weight: 400;
  color: #4f5a66!important;
  font-size: 15px!important
}

@media screen and (max-width: 1024px) {
  .board-wrap.rule-type .accordian-list .faq-title {
      padding:22px 0 22px 43px !important
  }

  .board-wrap.rule-type .accordian-list .faq-title span {
      left: 0;
      top: 19px;
      width: 25px;
      height: 25px;
      line-height: 25px
  }

  .board-wrap.rule-type .accordian-list>tbody>tr>td.btn-area button {
      /* background: url(/asset/images/icons/arrow-rule-list-mo.png) center center no-repeat; */
      background-size: auto 8px
  }

  .board-wrap.rule-type .accordian-list>tbody>.on>td.btn-area button {
      /* background: url(/asset/images/icons/arrow-rule-list-on-mo.png) center center no-repeat; */
      background-size: auto 8px
  }

  .board-wrap.rule-type .accordian-list .reply-field {
      padding: 27px 0 30px!important
  }

  .board-wrap.rule-type .accordian-list .desc-util,.board-wrap.rule-type .accordian-list .faq-desc {
      padding: 0!important
  }
}

.table-set.col-table {
  border-top: 1px solid #24282b
}

.table-set.col-table th {
  padding: 12px 0;
  border-bottom: 1px solid #6e7c8c;
  text-align: center;
  vertical-align: top;
  background: #f7f9fa;
  color: #4f5a66;
  font-size: 12px;
  font-weight: 300
}

.table-set.col-table td {
  padding: 12px 5px;
  border-left: 1px solid #6e7c8c;
  border-bottom: 1px solid #6e7c8c;
  font-size: 12px
}

.table-set.col-table td:first-child {
  border-left: 0;
  text-align: center
}

.table-set.col-table td.borL {
  border-left: 1px solid #6e7c8c
}

.table-set.col-table td.alC {
  text-align: center
}

.members .board-wrap .row-table-type {
  border-top: 1px solid #e3e7eb
}

.pagination {
  margin-top: 60px
}

.pagination+* {
  margin-top: 40px
}

.pagination>.btn {
  display: none;
  height: 40px;
  line-height: 40px
}

.pagination li,.pagination ul {
  display: inline-block;
  vertical-align: top
}

.pagination ul {
  font-size: 0
}

.pagination li {
  margin: 0 4px;
  border: 1px solid #dbe2e6
}

.pagination li.first {
  margin-left: 0
}

.pagination li.last {
  margin-right: 0
}

.pagination li.prev {
  margin-right: 36px
}

.pagination li.next {
  margin-left: 36px
}

.pagination li a {
  display: block;
  min-width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 16px
}

.pagination li.num a {
  padding: 0 3px
}

.pagination li.is-active {
  border-color: #007aff
}

.pagination li.is-disabled {
  border-color: #eef2f6
}

.pagination li a:hover,.pagination li.is-active a {
  color: #fff;
  background-color: #007aff;
  font-weight: 500
}

.pagination .icon {
  width: 34px;
  height: 34px;
  /* background: url(/asset/images/icons/icon-pagination.png) no-repeat; */
  background-size: 136px auto
}

.pagination li.is-disabled a {
  background-color: transparent
}

.pagination .pagination-first {
  background-position: 0 0
}

.pagination .pagination-prev {
  background-position: -34px 0
}

.pagination .pagination-next {
  background-position: -68px 0
}

.pagination .pagination-last {
  background-position: -102px 0
}

.pagination li a:hover .pagination-first,.pagination li.is-active .pagination-first {
  background-position: 0 -68px
}

.pagination li a:hover .pagination-prev,.pagination li.is-active .pagination-prev {
  background-position: -34px -68px
}

.pagination li a:hover .pagination-next,.pagination li.is-active .pagination-next {
  background-position: -68px -68px
}

.pagination li a:hover .pagination-last,.pagination li.is-active .pagination-last {
  background-position: -102px -68px
}

.pagination li a:hover .pagination-first,.pagination li.is-disabled .pagination-first {
  background-position: 0 -34px
}

.pagination li a:hover .pagination-prev,.pagination li.is-disabled .pagination-prev {
  background-position: -34px -34px
}

.pagination li a:hover .pagination-next,.pagination li.is-disabled .pagination-next {
  background-position: -68px -34px
}

.pagination li a:hover .pagination-last,.pagination li.is-disabled .pagination-last {
  background-position: -102px -34px
}

@media screen and (max-width: 1024px) {
  .pagination {
      margin-top:50px
  }

  .pagination+* {
      margin-top: 30px
  }

  .pagination li {
      margin: 0 2px
  }

  .pagination li.prev {
      margin-right: 20px
  }

  .pagination li.next {
      margin-left: 20px
  }

  .pagination li a {
      min-width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: 14px
  }

  .pagination .icon {
      width: 25px;
      height: 25px;
      background-size: 100px auto
  }

  .pagination .pagination-first {
      background-position: 0 0
  }

  .pagination .pagination-prev {
      background-position: -25px 0
  }

  .pagination .pagination-next {
      background-position: -50px 0
  }

  .pagination .pagination-last {
      background-position: -75px 0
  }

  .pagination li a:hover .pagination-first,.pagination li.is-active .pagination-first {
      background-position: 0 -50px
  }

  .pagination li a:hover .pagination-prev,.pagination li.is-active .pagination-prev {
      background-position: -25px -50px
  }

  .pagination li a:hover .pagination-next,.pagination li.is-active .pagination-next {
      background-position: -50px -50px
  }

  .pagination li a:hover .pagination-last,.pagination li.is-active .pagination-last {
      background-position: -75px -50px
  }

  .pagination li a:hover .pagination-first,.pagination li.is-disabled .pagination-first {
      background-position: 0 -25px
  }

  .pagination li a:hover .pagination-prev,.pagination li.is-disabled .pagination-prev {
      background-position: -25px -25px
  }

  .pagination li a:hover .pagination-next,.pagination li.is-disabled .pagination-next {
      background-position: -50px -25px
  }

  .pagination li a:hover .pagination-last,.pagination li.is-disabled .pagination-last {
      background-position: -75px -25px
  }

  .board-wrap+.pagination,.tab-container+.pagination {
      margin-top: 25px
  }

  .board-wrap .accordian-list>tbody>tr>th {
      padding: 16px 10px
  }

  .board-wrap .detail-util .btns:after {
      display: block;
      content: '';
      clear: both
  }

  .board-wrap .detail-util .btns .btn {
      height: 30px;
      min-width: 65px;
      margin-right: 0;
      margin-left: 10px;
      font-size: 12px;
      line-height: 30px
  }

  .board-wrap .detail-util .btns .btn.btn-md {
      width: auto;
      min-width: 100px
  }

  .board-wrap .detail-util .btns .btn:first-child {
      margin-left: 0
  }

  .board-wrap .status .status-info .answer {
      top: 0;
      margin: 13px 0 0;
      font-weight: 400;
      font-size: 15px
  }

  .board-wrap .status .status-info .answer strong {
      padding: 0 0 0 5px
  }

  .answer-num {
      float: right;
      margin: 44px 0 0
  }
}

@media screen and (max-width: 320px) {
  .pagination li.prev {
      margin-right:8px
  }

  .pagination li.next {
      margin-left: 8px
  }
}

.board-wrap.comm .list-view .position-base.mento {
  padding-top: 36px;
  padding-bottom: 32px;
  background-color: #ebf4fc
}

.board-wrap .position-base.mento .line-set.txt-wsp {
  padding-right: 10px
}

@media screen and (max-width: 1024px) {
  .board-wrap.comm .list-view .position-base.mento {
      padding:15px 20px 1px
  }
}

.board-mento {
  border-bottom: 1px solid #e0e6ea;
  font-size: 14px;
  color: #777f88
}

.board-mento dl {
  border-top: 1px solid #24282b
}

.board-mento dl dt {
  font-size: 20px;
  color: #24282b;
  font-weight: 400
}

.board-mento .open dt {
  background-color: #ebf4fc
}

.board-mento dl dt a {
  display: block;
  padding: 20px 30px 20px 47px
}

.board-mento dl dt a div {
  height: 79px;
  /* background: url(/asset/images/icons/arrow-mento-list.png) right 10px no-repeat */
}

.board-mento .open dt a div {
  /* background: url(/asset/images/icons/arrow-mento-list-on.png) right 10px no-repeat */
}

.board-mento dl dt a div p {
  position: relative;
  height: 100%;
  padding: 25px 0 0 123px
}

.board-mento dl dt a div p em {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 80px;
  height: 100%;
  border-radius: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden
}

.board-mento dl dd {
  padding: 0 39px 60px;
  border-top: 1px solid #e0e6ea
}

.board-mento dl dd .in {
  height: 152px;
  overflow: hidden
}

.board-mento .open dd .in {
  height: 100%
}

.board-mento dl dd ul li {
  padding: 40px 0 37px;
  border-top: 1px solid #f0f7fd
}

.board-mento dl dd ul li:first-child {
  border: 0
}

.board-mento dl dd ul li span {
  display: block;
  margin: 0 0 27px
}

.board-mento dl dd ul li span em {
  display: inline-block;
  height: 28px;
  padding: 3px 23px 0;
  border-radius: 14px;
  background-color: #3395f4;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  vertical-align: top;
  overflow: hidden
}

.board-mento dl dd .cert {
  padding: 24px 29px;
  border: 1px solid #e0e6ea;
  background-color: #f5f7fa;
  color: #24282b;
  font-size: 16px
}

.board-mento dl dd .cert strong {
  color: #3395f4
}

.board-faq {
  border-bottom: 1px solid #e0e6ea;
  font-size: 14px;
  color: #777f88
}

.board-faq dl {
  border-top: 1px solid #24282b
}

.board-faq dl dt {
  font-size: 18px;
  color: #24282b;
  font-weight: 400;
  display: block;
  padding-left: 50px;
  /* background: url(../images/icons/img_mento_faq.png) 30px center no-repeat */
}

.board-faq .open dt {
  background-color: #ebf4fc
}

.board-faq dl dt div .qfont {
  font-style: normal;
  font-size: 60px;
  color: #3395f4;
  font-weight: 800;
  line-height: 64px;
  font-family: "Roboto";
  border: 1px solid #000;
  display: inline;
  position: absolute
}

.board-faq dl dt div p {
  position: relative;
  height: 100%;
  padding: 35px 35px 35px 75px
}

.board-faq dl dt div p em {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 80px;
  height: 100%;
  border-radius: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden
}

.board-faq dl dd {
  padding: 0 39px;
  border-top: 1px solid #e0e6ea
}

.board-faq dl dd ul li {
  padding: 20px 0;
  border-top: 1px solid #f0f7fd
}

.board-faq dl dd ul li:first-child {
  border: 0
}

.board-faq dl dd ul li span {
  display: block;
  margin: 0 0 10px
}

.board-faq dl dd ul li span em {
  display: inline-block;
  height: 28px;
  padding: 3px 23px 0;
  border-radius: 14px;
  background-color: #3395f4;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  vertical-align: top;
  overflow: hidden
}

.board-faq dl dd ul li a {
  text-decoration: underline;
  white-space: pre-line
}

@media screen and (max-width: 1024px) {
  .board-mento dl dt {
      font-size:17px
  }

  .board-mento dl dt a {
      padding: 10px 15px 10px 23px
  }

  .board-mento dl dt a div {
      height: 40px;
      /* background: url(/asset/images/icons/arrow-mento-list-mo.png) right center no-repeat; */
      background-size: 17px auto
  }

  .board-mento .open dt a div {
      /* background: url(/asset/images/icons/arrow-mento-list-on-mo.png) right center no-repeat; */
      background-size: 17px auto
  }

  .board-mento dl dt a div p {
      padding: 8px 0 0 53px
  }

  .board-mento dl dt a div p em {
      width: 40px
  }

  .board-mento dl dd {
      padding: 0 15px 25px
  }

  .board-mento dl dd .in {
      height: 122px
  }

  .board-mento dl dd ul li {
      padding: 25px 0 22px
  }

  .board-mento dl dd ul li span {
      margin: 0 0 17px
  }

  .board-mento dl dd ul li span em {
      height: 23px;
      padding: 2px 14px 0;
      border-radius: 11px;
      font-size: 14px
  }

  .board-mento dl dd .cert {
      padding: 7px 19px;
      font-size: 14px
  }
}

@media (max-width: 375px) {
  .grey-box-desc .column .policy {
      border-radius:0;
      padding: 0;
      line-height: 35px
  }

  .grey-box-desc .column .policy span {
      border-radius: 0;
      margin: 0;
      display: block;
      line-height: 20px;
      padding: 5px 25px
  }
}

.board-wrap.comm {
  position: relative;
  clear: both
}

.mentor_num_select {
  position: absolute;
  top: -38px;
  right: 0
}

.mentor_num_select .select {
  min-width: 151px
}

.mentor_num_select .select2-container .select2-selection--single {
  height: 30px
}

.mentor_num_select .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 30px
}

.mentor_num_select .select2-container .select2-selection--single {
  height: 30px
}

.mentor_num_select .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px
}

@media(max-width: 1024px) {
  .list-util.mentor_list-util.type-scroll.btn-base {
      margin-bottom:105px
  }

  .list-util.mentor_list-util.type-scroll.btn-base .align-right {
      bottom: -57px
  }

  .mentor_num_select .select {
      max-width: 151px
  }
}

@media(min-width: 1025px) {
  .board-wrap.comm .num_sel_wrap {
      margin-bottom:20px;
      height: 35px
  }

  .board-wrap.comm.is_result .num_sel_wrap {
      margin-bottom: 0;
      height: 0
  }

  .mentor_num_select {
      position: absolute;
      top: 0;
      right: 0
  }

  .mentor_num_select .select {
      min-width: 100%;
      max-width: 100%
  }

  .mentor_num_select .select2-container .select2-selection--single {
      height: 34px
  }

  .mentor_num_select .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 34px
  }

  .mentor_num_select .select2-container .select2-selection--single {
      height: 34px
  }

  .mentor_num_select .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 34px
  }
}

.board-group .board-group-ico dt {
  position: relative;
  padding-top: 30px;
  padding-bottom: 17px;
  font-size: 20px;
  font-weight: 500
}

.board-group .board-group-ico .ico_vod {
  margin-right: 10px;
  vertical-align: -12px;
  /* background: url(/asset/images/icons/icon-openrun-thumb05.png) no-repeat; */
  background-size: cover;
  display: inline-block;
  width: 36px;
  height: 36px
}

.board-wrap.board-group-link {
  margin-top: 0
}

.board-wrap.board-group-link .line-set {
  margin: 0
}

.board-wrap.board-group-link .line-set .new {
  margin-left: 8px
}

.board-wrap.board-group-link table tbody {
  background-color: #eee
}

.board-wrap.board-group-link table td {
  padding: 19px 20px;
  border-bottom: 1px solid #fafbfc
}

.board-wrap.board-group-link table td:nth-child(2) {
  padding-left: 45px;
  padding-right: 0
}

.board-wrap.board-group-link table td .txt-nd {
  color: #777f88;
  line-height: 18px;
  font-size: 14px
}

@media screen and (max-width: 1024px) {
  .board-group .board-group-ico {
      padding-left:0;
      padding-right: 0
  }

  .board-group .board-group-ico dt {
      padding-top: 15px;
      font-size: 12px
  }

  .board-group .board-group-ico .ico_vod {
      vertical-align: -7px;
      width: 20px;
      height: 20px
  }

  .board-wrap.board-group-link .tac {
      display: none
  }

  .board-wrap.board-group-link table td {
      padding: 8px 15px
  }

  .board-wrap.board-group-link .line-set .title {
      font-size: 13px
  }
}

.board-mentoProfile {
  border-bottom: 1px solid #e0e6ea;
  font-size: 14px;
  color: #777f88
}

.board-mentoProfile dl {
  border-top: 1px solid #24282b
}

.board-mentoProfile dl dt {
  font-size: 20px;
  color: #24282b;
  font-weight: 400
}

.board-mentoProfile .open dt {
  background-color: #ebf4fc
}

.board-mentoProfile dl dt a {
  display: block;
  padding: 20px 30px 20px 47px
}

.board-mentoProfile dl dt a div {
  height: 79px
}

.board-mentoProfile dl dt a div p {
  position: relative;
  height: 100%;
  padding: 25px 0 0 123px
}

.board-mentoProfile dl dt a div p em {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 80px;
  height: 100%;
  border-radius: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden
}

.board-mentoProfile dl dd {
  padding: 0 39px 60px;
  border-top: 1px solid #e0e6ea
}

.board-mentoProfile dl dd .in {
  height: 152px;
  overflow: hidden
}

.board-mentoProfile .open dd .in {
  height: 100%
}

.board-mentoProfile dl dd ul li {
  padding: 40px 0 37px;
  border-top: 1px solid #f0f7fd
}

.board-mentoProfile dl dd ul li:first-child {
  border: 0
}

.board-mentoProfile dl dd ul li span.mentoInfo {
  display: block;
  margin: 0 0 27px
}

.board-mentoProfile dl dd ul li span.mentoInfo em {
  display: inline-block;
  height: 28px;
  padding: 3px 23px 0;
  border-radius: 14px;
  background-color: #3395f4;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  vertical-align: top;
  overflow: hidden
}

.board-mentoProfile dl dd .cert {
  padding: 24px 29px;
  border: 1px solid #e0e6ea;
  background-color: #f5f7fa;
  color: #24282b;
  font-size: 16px
}

.board-mentoProfile dl dd .cert strong {
  color: #3395f4
}

@media screen and (max-width: 1024px) {
  .board-mentoProfile dl dt {
      font-size:17px
  }

  .board-mentoProfile dl dt a {
      padding: 10px 15px 10px 23px
  }

  .board-mentoProfile dl dt a div {
      height: 40px
  }

  .board-mentoProfile dl dt a div p {
      padding: 8px 0 0 53px
  }

  .board-mentoProfile dl dt a div p em {
      width: 40px
  }

  .board-mentoProfile dl dd {
      padding: 0 15px 25px
  }

  .board-mentoProfile dl dd .in {
      height: 122px
  }

  .board-mentoProfile dl dd ul li {
      padding: 25px 0 22px
  }

  .board-mentoProfile dl dd ul li span.mentoInfo {
      margin: 0 0 17px
  }

  .board-mentoProfile dl dd ul li span.mentoInfo em {
      height: 23px;
      padding: 2px 14px 0;
      border-radius: 11px;
      font-size: 14px
  }

  .board-mentoProfile dl dd .cert {
      padding: 7px 19px;
      font-size: 14px
  }
}

